<div class="content-wrapper">
  <span class="content original-content {{if message.originalContent 'visible' 'hidden'}}">
    {{{message.formattedOriginalContent}}}
  </span>
</div>
<div class="content-wrapper">
  <span class="content translated-content {{if message.translatedContent 'visible' 'hidden'}}">
    {{{message.translatedContent}}}
  </span>
</div>
