body {
  margin: 20px;
}

.container {
  max-width: 640px;
}

[data-ember-action] {
  cursor: pointer;
}

video {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.center {
  display: block;
  margin: auto;
}

.circle {
  border-radius: 50%;
}

.language {
  display: inline-block;
  width: 140px;
}

.status {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.status.status-on {
  background-color: green;
}

.status.status-off {
  background-color: red;
}

.videos {
  position: relative;
  max-width: 360px;
  margin: auto;
}


#remote-video {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
}

.message {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #f4f4f4;
}

.message.local {
  text-align: left;
}

.message.remote {
  text-align: right;
}

.message .content-wrapper {
  margin-top: 5px
}

.message .content {
  padding: 3px 7px 3px 7px;
  border-radius: 10px;
}

.message .original-content {
  background-color: #D0D0D0;
  color: black;
}

.message .translated-content {
  background-color: #00A5FF;
  color: white;
}

.speech-recognition-button {
  margin: auto;
  width: 64px;
}

.chat {
  max-width: 640px;
  max-height: 300px;
  margin: 20px auto 0;
  padding: 0 70px;
  overflow-y: scroll;
}

.flag {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.flag.circle {
  background-size: 150%;
  background-position: -16px;
}

.flag.GB {
  background-image: url(/images/flags/GB.png);
}

.flag.US {
  background-image: url(/images/flags/US.png);
}

.flag.DE {
  background-image: url(/images/flags/DE.png);
}

.flag.ES {
  background-image: url(/images/flags/ES.png);
}

.flag.FR {
  background-image: url(/images/flags/FR.png);
}

.flag.IT {
  background-image: url(/images/flags/IT.png);
}

.flag.HU {
  background-image: url(/images/flags/HU.png);
}

.flag.NL {
  background-image: url(/images/flags/NL.png);
}

.flag.PL {
  background-image: url(/images/flags/PL.png);
}

.flag.PT {
  background-image: url(/images/flags/PT.png);
}

.flag.SK {
  background-image: url(/images/flags/SK.png);
}

.flag.SE {
  background-image: url(/images/flags/SE.png);
}
