<div class="vertical-center text-center">
  <h1>Unfortunately, your browser is currently not supported.</h1>
  <h1>Consider using the latest version of <a href="http://chrome.com">Google Chrome</a>.</h1>
</div>
